@model IEnumerable<RippahQuotes.Models.Quotes>

@{
    var items = Model.ToList();
    bool premium = false;
    int topicid = ViewBag.TopicId;
    ViewBag.Title = ViewBag.TopicName;
    string createcaption = "Contribute to " + ViewBag.TopicName;
}
<!--<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteAuthor)
        </th>
        <th></th>
    </tr>-->
<div class="topic-header">
    <h1 class="emphasise text-center">@ViewBag.TopicName</h1>
    @{
        if (items.Count > 0)
        {
            if (items[0].Topic.TopicAmount > 1)
            {
                <p>Contains @items[0].Topic.TopicAmount quotes</p>
            }
            else if (items[0].Topic.TopicAmount == 1)
            {
                <p>Contains a single quote</p>
            }
            Html.ActionLink(createcaption, "CreateByTopic", new { id = topicid }, new { @class = "createlink" });
        }
    }
</div>
<hr />
<div class="quotes-container">
    @{
        if (items.Count > 0)
        {
            for (var i = items.Count - 1; i >= 0; i--)
            {
                <div class="quote-element">
                    <a class="enter-quote" href="/Quotes/Details/@items[i].QuoteId"><h2><i>"@Html.DisplayFor(modelItem => items[i].QuoteText)"</i></h2></a>
                    <p>- @Html.DisplayFor(modelItem => items[i].QuoteAuthor) </p>
                </div>
            }
        }
        else
        {
            <div class="topic-header">
                @Html.ActionLink("Wanna add something? It's awfully empty here", "CreateByTopic", new { id = topicid }, new { @class = "createlink" })
            </div>
        }
    }
</div>
        @if (ViewBag.PasswordExists)
        {
            @Html.ActionLink("Delete Topic", "Delete", "Topics", new { id = topicid }, new { @class = "createlink" })
        }
    
